AuthName	"vaw dev site"
AuthType	Basic
AuthUserFile	/afs/cats.ucsc.edu/www/vaw/dev/private/.htpasswd

<Limit GET POST>
  order deny,allow
  deny from all
  allow from .ucsc.edu

  # allow username/password
  require user vaw-user wia-user

  # allow either method
  Satisfy any
</Limit>
